* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-weight: bold;

}

body {
    background-image: radial-gradient(circle, rgba(109, 104, 199, 1) 27%, rgba(148, 187, 233, 1) 100%);
    padding-top: 100px;
    padding-bottom: 100px;
}

header h1 { 
    display: flex;
    justify-items: center;
    font-family: "Bungee", sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 45px;
}

.container {
    animation: appear 1.9s;
    display: inline-flexbox;
    border-left: rgba(0, 0, 0, 0.618);
    border-left-width: 14px;
    border-radius: 1.9%;
    border-left-style: ridge;
    box-shadow: 2px 0px 3px rgb(89, 89, 216);
    background-color: #aabad9;
    max-width: 960px;
    width: 100%;
    height: 700px;
    margin: 0 auto;

}


.container .box_header,
.box_form,
.box_tab {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.box_form{
    margin: 30px 10px;
    height: 100px;
}

.box_form input {
    border: none;
    padding: 15px;
    box-shadow: 0px 0px 3px black;
    border-radius: 4px;
    outline-style: none;
    margin-inline: 5px 10px;
}

.box_form button {
    font-family: "Bungee", sans-serif;
    border-radius: 5px;
    box-shadow: 2px 1px 5px black;
    border: none;
    font-size: 15px;
    color: white;
    font-weight: lighter;
    padding: 5px 15px;
    background-color: #008b58;
    cursor: pointer;
}

.box_form button:hover {
    font-family: "Bungee", sans-serif;
    border-radius: 5px;
    box-shadow: 2px 1px 5px black;
    border: none;
    font-size: 15px;
    color: white;
    font-weight: lighter;
    padding: 5px 15px;
    background-color: #316552;
    transition-duration: 0.5s;
}

.box_tab{
    display: flex;
    justify-content: center;
    padding: 10px;
}

table {
    display: grid;
    overflow-y: scroll;
    background-color: rgb(211, 189, 63);
    border: #000;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    font-family: "Edu NSW ACT Foundation", cursive;
}

thead{
    display: flex;
    height: 100px;
    justify-content: center;  
}

thead tr{
    height: 100px;
}

thead th {
    color: white;
    font-weight: 600;
    text-shadow: 0px 0px 3px black;
    font-size: 50px;
    margin-inline: 5% 10%;
    padding: 10px 31px;
    text-decoration-color: rgb(0, 0, 0);
}

tbody{
    display: inline-flexbox;
    width: 100%;
    height: 350px;
}

tbody td {
    width: 400px;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.mensagem_sucesso{
    font-family: "Bungee", sans-serif;
    background-color: green;
    margin-top: 5px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    color: black;
    -webkit-text-stroke-width: 0.00005em;
    -webkit-text-stroke-color: white;
    display: none;
}



.mensagem_erro{
    font-family: "Bungee", sans-serif;
    background-color: rgb(195, 54, 54);
    margin-top: 5px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    -webkit-text-stroke-width: 0.00005em;
    -webkit-text-stroke-color: white;
    display: none;
}


@keyframes appear{
    from{
        opacity: 0;
    }

    to{
        opacity: 100;
    }
}

::-webkit-scrollbar{
    background-color: #1d1d1d;
    width: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #5b5b5b;
    border-radius: 5px;
}
